@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Merri';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Merriweather-Regular.ttf) format('truetype')
  }
}
